{% extends "base.html" %}
{% block content %}
    <!-- Zone des filtres --> 

    <!-- Tableau -->
    <br>
    <div class="overflow-x-auto">
        <table id="datatable" class="table-fixed min-w-full bg-white border border-gray-300 rounded-lg shadow">
            <thead>
                <tr>
                    <th>UID</th>
                    <th>Source</th>
                    <th>Name</th>
                    <th>Component Type</th>
                    <th>Description</th>
                    <th>Trade</th>
                    <th>Function</th>
                    <th>Lot</th>
                    <th>Room</th>
                    <th>Code Client Ouvrage</th>
                    <th>Code Client Object</th>
                    <th>Code Fournisseur</th>
                    <th>Facteur Choc</th>
                    <th>Degré Choc</th>
                    <th>Avec Plot</th>
                    <th>Avec Carlingage</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Archived Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123</td>
                    <td>Example Source</td>
                    <td>Example Name</td>
                    <td>Type A</td>
                    <td>Description text here</td>
                    <td>Trade 1</td>
                    <td>Function X</td>
                    <td>Lot 101</td>
                    <td>Room 12</td>
                    <td>Code1</td>
                    <td>Code2</td>
                    <td>Supplier1</td>
                    <td>0.85</td>
                    <td>High</td>
                    <td>Yes</td>
                    <td>No</td>
                    <td>2025-01-01</td>
                    <td>2025-01-07</td>
                    <td>2026-01-01</td>
                </tr>
                <tr>
                    <td>124</td>
                    <td>Source B</td>
                    <td>Name B</td>
                    <td>Type B</td>
                    <td>Description B</td>
                    <td>Trade 2</td>
                    <td>Function Y</td>
                    <td>Lot 102</td>
                    <td>Room 15</td>
                    <td>Code3</td>
                    <td>Code4</td>
                    <td>Supplier2</td>
                    <td>0.45</td>
                    <td>Medium</td>
                    <td>No</td>
                    <td>Yes</td>
                    <td>2024-12-01</td>
                    <td>2024-12-07</td>
                    <td>2025-12-01</td>
                </tr>
            </tbody>
        </table>
    </div>


<script>
    $(document).ready(function () {
        // Initialisation de la table DataTable
        var table = $('#datatable').DataTable({
            paging: true,
            searching: false,
            info: true,
            lengthChange: true,            
            pageLength: 10, 
            language: {
                paginate: {
                    first: "Premier",
                    last: "Dernier",
                    next: "Suivant",
                    previous: "Précédent",
                },
                lengthMenu: 'Afficher _MENU_ par page',
                info: "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
                infoEmpty: "Aucune entrée disponible",
            },
        });
    });
       
</script>

{% endblock %}